@{
    ViewBag.Title = "Home Page";
}

<div class="home-banner">
    <img id="img_logo" alt="Logo" src="@Url.Content("~/Content/Images/logo.png")" />
    <p class="lead">New Zealand's Entertainment Superstore!</p>
</div>

<hr />

<h3>Top Products</h3>

<div class="row">
    @foreach (var p in ViewBag.topFive)
    {
        <div class="top-five">
            <a href="@Url.Action("Details","Home", new { id = p.ProductID })">

                <img src="data:image;base64,@Convert.ToBase64String(p.Picture)" />
                <h2>@p.ProductName</h2>
                <h4>@p.Price</h4>

            </a>

        </div>
    }
</div>
<div class="row all-prod-button-contain">
    <p class="btn btn-primary btn-lg all-prod-button">@Html.ActionLink("All Products", "Products", "Home") &raquo;</p>
</div>
