@model IEnumerable<DigitalX.ServiceReference1.Product>

@{
    ViewBag.Title = "Cart";
    bool check = true;
    decimal subTotal = 0;
}
@using DigitalX.Controllers;

<h2>Cart</h2>

<table class="table">
    <tr>
        <th>
            Option
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </th>
        <th>
            Quantity
        </th>
        <th>
            Sub Total
        </th>

        <th></th>
    </tr>

    @foreach (var item in (List<Item>)Session["cart"])
    {
        <tr>
            <td>
                @Html.ActionLink("Remove", "Remove", "Cart", new { id = item.Product.ProductID }, null)
            </td>
            <td>
                @item.Product.ProductName
            </td>
            <td>
                @item.Product.ProductDescription
            </td>
            <td>
                @item.Product.Price
            </td>
            <td>
                @item.Product.UnitsInStock
            </td>
            <td>
                @item.Quantity
            </td>
            <td>
                @(item.Product.Price * item.Quantity)
            </td>

            <td>
                @Html.ActionLink("Details", "Details", "Home", new { id = item.Product.ProductID }, null)
            </td>
            @if (@item.Quantity > item.Product.UnitsInStock)
            {
                check = false;
            }
            else
            {
                check = true;
            }
        </tr>        
    }

</table>
<div>
    <h4>Sub Total:</h4>
    <h4>    
    @foreach (var item in (List<Item>)Session["cart"])
    {
        subTotal += (item.Product.Price * item.Quantity);        
    }
    @subTotal
    </h4>
</div>
<hr />
@Html.ActionLink("Continue Shopping", "Products", "Home")
@if (check == true)
{
    @Html.ActionLink("Checkout", "Checkout", "Cart")
}
else
{
    @Html.ActionLink("Checkout", "BOorCont", "Cart")
}

