
@{
    ViewBag.Title = "invoice";
}

<h1>invoice</h1>

<h4>Delivery Address</h4>
<p>@ViewBag.displayAddress.Street</p>
<p>@ViewBag.displayAddress.Suburb</p>
<p>@ViewBag.displayAddress.City</p>
<p>@ViewBag.displayAddress.PostalCode</p>
<p>@ViewBag.displayAddress.Country</p>


